@import url("https://fonts.cdnfonts.com/css/iqos");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IQOS", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

svg {
  pointer-events: none;
}
